body {
    margin: 0px;
    padding-bottom: 10px;
    background-color: rgb(245, 249, 250);
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
}

main{
    display: grid;
    grid-template-columns: 60% 40%;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#nav-header, #logo{
    height: 45px;
}

#nav-items {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

li > button {
    width: 100%;
    color: white;
    background-color: #333;
    padding: 15px 0px;
}

li button:hover {
    color:black;
    background-color: rgb(183, 295, 114);
}

#createField{
    background-color: rgb(183, 295, 114);
    padding: 20px;
}

#createField input{
    width: 100%;
}

#ingredients #ingredient{
    padding: 0px 15px;
    border: solid black 1px;
}

textarea#recipe_directions{
    width: 100%;
    height: 100px;
    resize: none;
}

#recipes_container{
    margin: 10px 5px;
}

#word_wrap{
    margin: 0px 0px 5px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    max-height: 40px;
}

#word_wrap, #inform{
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
    display: -webkit-box;
}

#inform{
    margin: 0;
    max-height: 20px;
}

#item_buttons{
    margin-top: 10px;
}

#item{
    width: 30%;
    display: inline-block;
    margin: 10px;
    border: black solid 1px;
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
}

#item img{
    width: 100%;
}

.extend_container{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

#item-detail{
    padding: 5px 8px;
}

#recipe_container{
    padding: 20px 0px;
    border-radius: 1em;
    background-color: rgb(240, 240, 240);
    text-align: center;
}

#recipe_container > #recipe_title{
    font-family: American Typewriter, serif;
    font-weight: normal;
    font-style: italic;
    padding: 0px 200px;
}

#recipe_container > #recipe_image{
    height: 450px;
}

#recipe_details{
    margin: auto 15em;
    text-align: left;
    border-bottom: gray 1px solid;
}

ul#ingredients, #directions{
    padding-left: 1em;
    list-style-type: none;
}